@import "tailwindcss";

/* Tailwind utilities */
@tailwind utilities;

@layer utilities {
    .animate-spin-custom{
        animation: spin 10s linear infinite;
    }
}

/* Custom global styles */
html,
body {
    @apply bg-gray-50 text-gray-800 font-sans;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Make sure the root div takes full height */
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    }

/* Remove default link styling */
a {
    text-decoration: none;
}
a:hover {
    @apply text-blue-600 hover:underline;
}

/* Optional: Smooth transitions globally */
* {
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}
